body {
  background-color: #f5eee4;
}

#container,
.control {
  color: #41301e;
  font-family: 'Gloria Hallelujah', cursive;
}

#container {
  padding: 30px;
  text-align: center;
}

h1 {
  font-size: 3em;
  margin: 30px 0;
}

.area {
  margin: 0 auto;
  width: 400px;
}

.off {
  display: none;
}

.control {
  font-size: 1.5em;
  padding: 10px 20px;
  width: auto;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1)
}

h2 {
  font-size: 1.75em;
  padding: 20px 0;
}

.game-btn {
  background-color: #fefefe;
  height: auto;
  margin: 0 10px;
  padding: 10px;
  width: 100px;
}

.selected {
  border: 1px solid #fdc331;
  box-shadow: 0 0 7px 2px #fdc331;
}

.disabled {
  opacity: .5;
}

img {
  height: 80px;
}

#result-para {
  font-size: 1.5em;
}

p {
  font-size: 1.25em;
  padding: 10px 0;
  margin: 10px 0;
}

.win {
  color: green;
}

.lose {
  color: red;
}

.draw {
  color: orange;
}